{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% if title %}
    <title>BrewFind &#8211; {{title}}</title>
    {% else %}
    <title>BrewFind</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'blog/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vertical-layout-light/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vertical-layout-light/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/shmare.svg' %}" />
    <link rel="stylesheet" href="{% static 'blog/vendors/mdi/css/materialdesignicons.min.css' %}">
   
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

            <nav class="navbar col-lg-12 col-12 p-1 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

                    <a class="navbar-brand brand-logo mr-5" href="{% url 'blog-home' %}" style="text-decoration:none"><strong><h3 class="text-primary"> <span><img style="width:50px; height:48px;"src="{% static 'blog/images/brand_logo.svg' %}" alt="logo" /></span> BrewFind</strong></h3></a>
                    <a class="navbar-brand brand-logo-mini" href="{% url 'blog-home' %}" style="text-decoration:none"><span><img style="width:50px; height:48px;"src="{% static 'blog/images/brand_logo.svg' %}" alt="logo" /> </span></a>

                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">


                    <ul class="navbar-nav navbar-nav-right">


                        {% if user.is_authenticated %}



                        <li style="box-sizing: content-box;" class="nav-item nav-profile dropdown">

                            <button type="button" name="user_menu" class="btn btn-light btn-icon btn-md nav-link dropdown-toggle" data-toggle="dropdown" id="profileDropdown" aria-haspopup="true" aria-expanded="false">


                            <img style="width:100%;height:100%" class="d-flex" src="{{ user.profile.image.url }}" alt="user_profile_pic" />


                            </button>
                            <div style="box-sizing: content-box;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <span class="menu_padding">
                                <div class="media p-3">
                                
                                    <a href="{% url 'user-posts' user.username %}"><img class="d-flex align-self-start mr-3" src="{{ user.profile.image.url }}" alt="user_profile_pic"/></a>

                                
                                    <div class="media-body">

                                        <h5 class="ovvv"> 
                                        <a class="text-dark" href="{% url 'user-posts' user.username %}" style="text-decoration:none">{{ user.username|truncatechars:25 }}</a> 
			
					                    </h5>

                                        <h5 class="ovvv">
                      <small class="text-muted">
                        <a class="text-dark" href="{% url 'user-posts' user.username %}" style="text-decoration:none">{{ user.email|truncatechars:50 }}</a>
                      </small>
                    </h5>
                </div>
              </div> 
    
          <div class="dropdown-divider"></div>

    
       <a class="dropdown-item" href="{% url 'profile' %}">
            <i class="ti-pencil text-primary p-2"></i> Edit Profile</a> 
                        
                                <div class="dropdown-divider"></div> 
                                <form method="POST" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                
                               
                                    <button class="dropdown-item" type="submit">
                                        <i class="ti-shift-right text-primary p-2"></i> Log out
                                    </button>                          
                                
                              
                                </form>
                        </span>
                            </div>
                        </li>
            

                       <!--
                        <li class="nav-item nav-profile dropdown">
                            <button type="button" name="menu" class="btn btn-light btn-icon btn-md nav-link align-self-center" data-toggle="dropdown" id="profileDropdown" aria-haspopup="true" aria-expanded="false">


                                <span class="ti-menu"></span>

                            </button>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">


                            <span class="menu_padding">
                                <a class="dropdown-item" href="{% url 'blog-home' %}">
                                    <i class="ti-home text-primary p-2"></i> Home 
                                </a>
                                <a class="dropdown-item" href="{% url 'user-posts' user %}">
                                    <i class="ti-comment-alt text-primary p-2"></i> Your reviews 
                                </a>
                            
                        
                            </span>
                            </div>
                        </li>

                    -->

                        {% else %}


                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %} ">
                                <button type="button" class="btn btn-light btn-rounded btn-md">Log in</button>
                            </a>

                            &nbsp; &nbsp;


                            <a class="nav-link" href="{% url 'register' %} ">
                                <button type="button" class="btn btn-primary btn-rounded btn-md">Sign up</button>
                            </a>

                        </li>

                        {% endif %}


                    </ul>

                </div>
            </nav>
 
            <div class="container my-bg">
                <br>
                <br>
                <br>
                <br>
                <br>
                 {% block content %} 
                
                 {% endblock %}
            </div>




        </div>

    </div>

    <footer class="footer">
        <div class="d-sm-flex justify-content-center">
            <p class="text-primary">&copy; 2024 BrewFind</p>
        </div>
    </footer>

    </div>

    </div>

    </div>


    <script src="{% static 'blog/vendors/js/vendor.bundle.base.js' %}"></script>

    <script src="{% static 'blog/js/off-canvas.js' %}"></script>
    <script src="{% static 'blog/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'blog/js/template.js' %}"></script>
    <script src="{% static 'blog/js/settings.js' %}"></script>
    <script src="{% static 'blog/js/todolist.js' %}"></script>




</body>






</html>