
{% block content %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BrewFind &#8211; Reset Password</title>
    <link rel="stylesheet" href="{% static 'blog/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vertical-layout-light/style.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/shmare.svg' %}" />

    <style> 
        input[type="text"], input[type="email"], input[type="password"] {
            border: 1px solid #ccc;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type="text"], input[type="email"], input[type="password"]:focus {
            border: 1px solid #8fc5ff;
        }
        

   </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">

                                <a class="navbar-brand brand-logo mr-5" href="{% url 'blog-home' %}" style="text-decoration:none"><h3 class="text-primary"> <span><img style="width:50px; height:48px;"src="{% static 'blog/images/brand_logo.svg' %}" alt="logo" /></span> BrewFind</h3></a>

                            </div>

                                              
                            <form method="POST" class="card">
                                {% csrf_token %}
                                <h3>Reset your password</h3>
                                {% for field in form %}
                                    <div class="form-group">
                                 
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors|striptags }}</small>
                                        {% endif %}
                                
                                    </div>
                                {% endfor %}
                                
                                
                                <button class="btn btn-block btn-primary btn-md" type="submit">RESET PASSWORD</button>
                              
                            </form>
                          
                        
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'blog/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'blog/js/off-canvas.js' %}"></script>
    <script src="{% static 'blog/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'blog/js/template.js' %}"></script>
    <script src="{% static 'blog/js/settings.js' %}"></script>
    <script src="{% static 'blog/js/todolist.js' %}"></script>

</body>

 	
{% endblock content %}
