
{% block content %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BrewFind &#8211; Password Changed</title>

    <link rel="stylesheet" href="{% static 'blog/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/css/vendor.bundle.base.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/vertical-layout-light/style.css' %}">

    <link rel="shortcut icon" href="{% static 'blog/images/shmare.svg' %}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">

                                <a href="{% url 'blog-home' %}" style="text-decoration:none"><strong><h3 class="text-primary"> <span><img style="width:50px; height:48px;"src="{% static 'blog/images/brand_logo.svg' %}" alt="logo" /></span> BrewFind</strong></h3></a>

                            </div>
                            
                            <div class="card center">
								<div class="alert alert-success alert-dismissible fade show" role="alert">
									<h5 class="alert-heading">You&#39;ve successfully changed your password!</h5>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>			
								</div>	
                            
                                <p class="text-muted">Please <a href="{% url 'login' %}"><strong>log in</strong></a> to continue.</p>
                            </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'blog/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'blog/js/off-canvas.js' %}"></script>
    <script src="{% static 'blog/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'blog/js/template.js' %}"></script>
    <script src="{% static 'blog/js/settings.js' %}"></script>
    <script src="{% static 'blog/js/todolist.js' %}"></script>

</body>

 	
{% endblock content %}