
{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %} {% load static %}

<style>
.ovvv {
        word-break:break-all;
        }
input[type='file'] {
  color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 100px;
  left: 100px;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  background-image: url( "{% static 'blog/images/edit_img.svg' %}" );
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: transparent;
  font-size:30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.av_cont {
  position: relative;
  display: inline-block;
}
.avatar {
  border: 3px solid #f8f9fa;
  vertical-align: middle;
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
label[for="id_image"] {
    display: none;
}


.edit-icon {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  width: 30px; 
  height: 30px; 
  z-index: 1; 
}
</style>


    {% if messages %} {% for message in messages %}
    
    <div class="alert  alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <h5 class="alert-heading"> {{ message }} </h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>			
    </div>
    {% endfor %} {% endif %}
    

<div class="row">
    <div class="col-md-12 grid-margin stretch-card transparent">
        <div class="card bg-light">
            <div class="card-body">   
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header bg-primary text-white"><h4>Profile</h4></div>

                            <div class="card-body">
                               <span class="av_cont">
                                <img id="myImg" class="avatar align-self-center mr-3" src="{{ user.profile.url }}" alt="user_profile_pic">
                                <div id="myModal" class="imodal">
                                    <span class="iclose">&times;</span>
                                    <img class="imodal-content" id="img01">
                                </div>
                                <form class="forms-sample" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <fieldset class="form-group">
                                   {{ p_form|crispy }}
                                </span>
                                    {{ u_form|crispy }}
                                </fieldset>
                                    <button type="submit" class="btn btn-primary btn-md">Save changes</button>
                                    <br>
                                </form>   
                                    
                            </div>
                            
                        </div>
                    </div>
           
            </div>
        </div>
    </div>
</div>


<script>
    var modal = document.getElementById("myModal");
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
    }
    
    
    var span = document.getElementsByClassName("iclose")[0];
    
    
    span.onclick = function() {
      modal.style.display = "none";
    } 
</script>

{% endblock content %}