{% load static %} {% load crispy_forms_tags %} {% block content %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BrewFind &#8211; Sign up</title>

    <link rel="stylesheet" href="{% static 'blog/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/css/vendor.bundle.base.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/vertical-layout-light/style.css' %}">

    <link rel="shortcut icon" href="{% static 'blog/images/shmare.svg' %}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">

                                <a class="navbar-brand brand-logo mr-5" href="{% url 'blog-home' %}" style="text-decoration:none"><h3 class="text-primary"> <span><img style="width:50px; height:48px;"src="{% static 'blog/images/brand_logo.svg' %}" alt="logo" /></span> BrewFind</h3></a>
                            </div>

                            <h3>Sign up</h3>
                            <div class="pt-3">

                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">

                                        {{ form|crispy }}
                                    </fieldset>

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary btn-block btn-md" type="submit">SIGN UP</button>
                                    </div>

                                    <div class="text-center mt-4 font-weight-light">
                                        Already have an account? <a href="{% url 'login' %}" class="text-primary"><strong>Log in</strong></a>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <p class="font-weight-light text-muted">
                                            By continuing you agree that you may not misuse this platform in any form, if found otherwise your account may be considered for termination.
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'blog/vendors/js/vendor.bundle.base.js' %}"></script>

    <script src="{% static 'blog/js/off-canvas.js' %}"></script>
    <script src="{% static 'blog/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'blog/js/template.js' %}"></script>
    <script src="{% static 'blog/js/settings.js' %}"></script>
    <script src="{% static 'blog/js/todolist.js' %}"></script>

</body>

{% endblock content %}